<div class="header">
    <div class="menu-icon">
        <img src="../images/Hamburger.png" alt="" srcset="">
    </div>
    <div class="logo-wrap">
       <a href="/">
        <img src="../images/emblem.jpg" alt="Logo" >
       </a>
    </div>
    <div class="nav-closed">
        <div class="close-btn-container">
            <img src="../images/close.png" alt="Close button" class="close-btn">
        </div>
        <div class="ul-links">
            <a href="/">Home</a>
            <a href="/services">services</a>
            <a href="/products">products</a>
            <a href="/about">About</a>
            <a href="/contact">contact</a>
            <div class="exit">
                <a href="/login"><button class="login-btn">Login</button></a>
                <a href="/signup"><button class="signup-btn">Sign up</button></a>
            </div>
        </div>

    </div>
    
    <div class="user-login">
        <a href="/login">
            <img src="../images/login.png" alt="">
        </a>
    </div>

    <div class="shopping-wrap">
        <a href="/cart">
            <img src="../images/shopping_bag_FILL0_wght400_GRAD0_opsz48.png" alt="Shopping bag">
        </a>
    </div>
</div>