
<form action="/submit-order" method="POST"  class="add-form">
  <!-- Shipping Address -->
  <label for="name">Name and Surname</label>
  <input type="text" id="name" name="shippingAddress[name]" required />

  <label for="phone">Mobile Number</label>
  <input type="tel" id="phone" name="shippingAddress[phone]" required />

  <label for="email">Email Address</label>
  <input type="email" id="email" name="shippingAddress[email]" required />

  <label for="address">Street Address</label>
  <input type="text" id="address" name="shippingAddress[address]" required />

  <label for="area">Area</label>
  <input type="text" id="area" name="shippingAddress[area]" required />

  <label for="city">City/Town</label>
  <input type="text" id="city" name="shippingAddress[city]" required />

  <label for="province">Province</label>
  <input type="text" id="province" name="shippingAddress[province]" required />

  <label for="zip">ZIP Code</label>
  <input type="text" id="zip" name="shippingAddress[zip]" required />

  <label for="country">Country</label>
  <input type="text" id="country" name="shippingAddress[country]" required />

  <button type="submit">Save changes </button>
</form>
