<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headInfo') %>
  </head>
  <body>
    <div class="content-cover">
      <%- include('./partials/nav') %>

      <div class="about-section">
        <div class="abt-hero">
          <h2>About Sparkles Sphere</h2>
          <p>
            As Sparkles Sphere we have customized our
            services to meet your unique needs, residential, construction and
            commercial. We provide a clean and fresh apprearance that is
            inviting. Your building is cleaned by skilled and experianced
            personnel who pay attention to detail. We clean all sizes of
            business, small, medium, large, private owned and government. You
            can hire us with confidence that we will be able to meet all your
            commercial building and office cleaning services professionally,
            affordable and efficiently.
          </p>
        </div>

        <div class="abt-info">
          <h2>Vision</h2>
          <p>
            We believe in providing complete and up to date cleaning services.
            We value the customers desire to have an eco friendly surrounding in
            their homes and offices both indoor and outdoor. Our staff play a
            key role to our success as they give optimum performance in their
            job and interaction with the customers.
          </p>
        </div>
        <div class="abt-info">
          <h2>Values</h2>
          <h3>People</h3>
          <p>
            We recuit, develop and reward the best personnel so that you recieve
            high standard of service.
          </p>

          <h3>Teamwork</h3>
          <p>
            People working synergistically to produce great results faster and
            we encourage teamwork at all times.
          </p>

          <h3>Strength</h3>
          <p>
            We deliver on our promise and continuously search for new and better
            ways to provide the best solutions for our customers.
          </p>

          <h3>Service</h3>
          <p>
            We have a solid partnership with our customers and all stakeholders
            based on the integrity and competency of our people.
          </p>
        </div>
      </div>

      <%- include('./partials/footer') %>
    </div>
  </body>
  <script src="../js/part.js"></script>
</html>
