<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/headInfo') %>
</head>
<body>
    <div class="content-cover">
        <%- include('./partials/nav') %>
        
        <div class="form-cover adjust">
            <form>
              <h2 class="heading">Book our services</h2>
              <h5>Use the following contact details.</h5>
              <li>Contact number : 073 044 1964/073 843 4372</li>
              <li>
                Email address : jabushabangu@greenbeartrading.co.za /
                lindos@greenbeartrading.co.za
              </li>
            </form>
          </div>
    

        <%- include('./partials/footer') %>
    </div>
    
</body>
<script src="../js/part.js"></script>
</html>