<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headInfo') %>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <form action="/products/create" method="POST" class="product-form">
      <h2 class="form-title">Post New Product</h2>

      <label for="title">Title</label>
      <input type="text" name="title" class="form-input" required />
      <div class="error title"></div>

      <label for="image">Image (URL)</label>
      <input type="text" name="image" class="form-input" required />
      <div class="error image"></div>

      <label for="category">Category</label>
      <select name="category" class="form-select" required>
        <option value="Products">Products</option>
        <option value="Best-selling">Best-selling</option>
        <option value="Home">Home</option>
        <option value="Car-essentials">Car Essentials</option>
        <option value="Drinks">Drinks</option>
      </select>
      <div class="error category"></div>

      <label for="description">Description</label>
      <textarea name="description" class="form-textarea" rows="6"></textarea>
      <div class="error description"></div>

      <label for="price">Price (R)</label>
      <input type="text" name="price" class="form-input" required />
      <div class="error price"></div>

      <button class="form-button">Post</button>
    </form>

    <%- include('./partials/footer') %>
  </body>
  <script src="../js/part.js"></script>
</html>
