<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/headInfo') %>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="customer-orders-wrapper">
      <div class="customer-orders">
        
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
  <script src="../js/part.js"></script>
</html>
