<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headInfo') %>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="body-form">
      <div class="form-cover">
        <form id="resetPasswordForm">
          <h2>Reset Password</h2>
          <label for="newPassword">New Password</label>
          <input type="password" name="newPassword" required />
          <div class="new-password error"></div>
          <input type="hidden" name="token" value="<%= token %>" />
          <button class="form-btn">Reset Password</button>
        </form>
      </div>
    </div>

    <script>
      const form = document.querySelector("#resetPasswordForm");
      const newPasswordError = document.querySelector(".new-password.error");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // reset errors
        newPasswordError.textContent = "";

        // get values
        const newPassword = form.newPassword.value;
        const token = form.token.value;

        try {
          const res = await fetch(`/reset-password/${token}`, {
            method: "POST",
            body: JSON.stringify({ token, newPassword }),
            headers: { "Content-Type": "application/json" },
          });

          if (!res.ok) {
            throw new Error("Password reset failed");
          }

          const data = await res.json();

          console.log(data);
        } catch (err) {
          console.log(err);
        }
      });
    </script>

    <%- include('./partials/footer') %>
  </body>
  <script src="../js/part.js"></script>
</html>
