<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/headInfo') %>
</head>
<body>
    <div class="content-cover">
        <%- include('./partials/nav') %>
        
        <div class="services-content">
            <div class="hero-services">
                <div class="section">
                    <h1 class="serv">
                        Sparkles sphere cleaning services
                    </h1>
                    <p class="sub-text">
                        How can we clean your space?
                    </p>
                    <span class="small-ani"></span>
                </div>
            </div>
            <div class="info-cover">
                <div>
                    <div class="info-section">
                        <h1 class="serv-title">Residential cleaning</h1>
                        <span class="long-ani"></span>
                        <p class="overview-text">
                            Our company caters cleaning for all types of residential property, flats, townhouses, semi-detached houses, duet houses, holiday apartments, shops or office blocks. Our cleaning produre is curated in a certain way, as we can work efficiently and save time. We also provide carpet cleaning, sofa cleaning as part of our services.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="info-section">
                        <h1 class="serv-title">Commercial</h1>
                        <span class="long-ani"></span>
                        <p class="overview-text">Commercial cleaning services is provisional to the corparate buildings. Corparate buildings which we work
                            on are corparate offices, airports, hotels, shopping malls, hospitals, doctor's rooms, banks, educational institutions and warehouses. We pay atttention to detail as it is a vital tool when working with customers, this also enhances the outcome of the building after our services have been render to the building. 
                        </p>
                    </div>
                </div>
                <div>
                    <div class="info-section">
                        <h1 class="serv-title">Construction</h1>
                        <span class="long-ani"></span>
                        <p class="overview-text">Construction cleaning helps with the outcome of your building after it has been built. We clean the interior which will reduce the amount of work left after the whole construction. we do new building cleaning, real estate property cleaning, window cleaning, the removal of stickers and labels and washing of walls.</p>
                    </div>
                </div>
                <div>
                    <div class="info-section">
                        <h1 class="serv-title">Rental property</h1>
                        <span class="long-ani"></span>
                        <p class="overview-text">We provide rental properties with an affordable price listing.</p>
                    </div>
                </div>
                <button>Book now</button>
            </div>
        </div>

        <%- include('./partials/footer') %>
    </div>
    
</body>
<script src="../js/part.js"></script>
</html>