<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headInfo') %>
  </head>
  <body>
    <div class="wrap">
      <%- include('./partials/nav') %>

      <div class="success-wrap">
        <p>Successfully purchased your product</p>
      </div>
      
      <%- include('./partials/footer') %>
    </div>
  </body>
  <script src="../js/part.js"></script>
</html>
