<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headInfo') %>
  </head>
  <body>
    <div class="wrap">
      <%- include('./partials/nav') %>

      <p>successfully purchased the product</p>
      <%- include('./partials/footer') %>
    </div>
  </body>
  <script src="../js/part.js"></script>
</html>
