@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /* colors */
  --primaryOrange: #f7a12a;
  --primaryGreen: #04c000;
  --primaryBlack: #000000;
  --primaryGrey: #7e7e7e;
  --slightlyWhite: #f8f8f8;
  --swiper-navigation-color: #000;
  --swiper-navigation-size: 30px;
  /* sizes */
  --headingFontSizeMobile: 20px;
  --standardFontSizeMobile: 15px;
  --paragraphFontSizeMobile: 13px;
}

h1,
h2 {
  color: var(--primaryGreen);
  font-size: var(--headingFontSizeMobile);
  margin-bottom: 0.5rem;
}

.body-cont {
  height: fit-content;
  background-color: #efefef;
}

button {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primaryGreen);
  border-radius: 20px;
  background: white;
  height: 3em;
  width: 8em;
}

p {
  color: var(--primaryGrey);
  font-size: var(--paragraphFontSizeMobile);
  margin-bottom: 1rem;
  line-height: 1.4em;
  text-align: center;
}

.link {
  color: #000000;
}

/* navigation */
.header {
  padding: 0 0.5em;
  width: 100%;
  height: 45px;
  display: flex;
  align-content: center;
  color: var(--slightlyWhite);
}

.menu-icon {
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.menu-icon > img {
  width: 30px;
  height: 28px;
  margin: 8px 0;
}

.logo-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-wrap > a > img {
  width: 25px;
  height: 25px;
  margin: 8px 0;
  object-fit: cover;
}

.nav-closed {
  display: flex;
  flex-direction: column;
  background: grey;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: -5em;
  width: 0px;
  height: 100%;
  transition: 0.8s ease-out;
  opacity: 0;
}

.nav-wrap {
  background: #f1f1f1;
  overflow-x: hidden;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  transition: 0.8s ease-in-out;
  opacity: 1;
}

.ul-links {
  width: fit-content;
  padding: 1em 0 1em 1.2em;
  display: flex;
  flex-direction: column;
}

.ul-links > a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  line-height: 2.5em;
  font-size: var(--standardFontSizeMobile);
}

.ul-links:hover {
  color: var(--primaryGreen);
}

.close-btn-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid #000000;
}

.close-btn {
  width: 30px;
  margin: 5px 8px;
  padding: 2px 0;
}

.exit {
  display: none;
  position: relative;
  left: -16em;
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.entry {
  width: 100%;
  position: relative;
  left: 0;
  margin: 1em 0;
  transition: 2s ease-in-out;
  display: block;
  text-align: center;
}

.login-btn,
.signup-btn {
  padding: 0.4em 1.9em;
  margin-right: 0.7em;
}

.user-login {
  display: none;
}
.shopping-wrap {
  width: 35px;
}

.shopping-wrap a img {
  width: 30px;
  height: 28px;
  margin: 8px 0;
}

/* Hero section */

.hero-wrap {
  /* background: url("../images/everdrop.jpg") no-repeat center;
    background-size: 100% 100%;
    min-height: 280px;
    object-fit: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-wrap img {
  width: clamp(19em, 100vw, 90em);
  height: clamp(25em, 80vh, 38em);
  position: relative;
  z-index: -1;
  object-fit: cover;
}

.sub-sec {
  max-width: 80%;
  background: #fff;
  padding: 0.8em;
  position: absolute;
  z-index: 1;
}

.sub-sec p {
  text-align: left;
}

.cta-btn {
  width: 100px;
  border: 1px solid var(--primaryGreen);
  outline: none;
  padding: 0.2em 0.2em;
  border-radius: 20px;
  background-color: var(--slightlyWhite);
  margin: 0 0 0.5em;
  font-size: var(--paragraphFontSizeMobile);
}

.cta-btn:hover {
  color: white;
  border: 1px solid#04C000;
  background-color: #04c000;
}

/* Wwo section */
.wwo-sec {
  padding: 1em 0;
  min-height: 24em;
}

.icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.intro-wwo {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro-wwo > p {
  width: 90%;
  color: var(--primaryGrey);
  font-size: 13px;
  text-align: center;
  line-height: 1.3em;
}

.brief-wwo {
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.brief-component {
  max-width: 18em;
  height: 230px;
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 13px;
  box-shadow: 1px 1px 2px 1px #cdcdcd;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subheading {
  width: 100%;
  height: fit-content;
  text-align: center;
  font-size: 18px;
}

.brief-component > a {
  text-decoration: none;
  color: var(--primaryGreen);
  text-transform: capitalize;
}

/* About us*/
.about-img {
  display: none;
}

.about-sec {
  width: 100%;
  height: fit-content;
}

.about-subsec1 {
  width: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*Products*/

.add-product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 80px;
}

.add-product button {
  background-color: var(--primaryGreen);
  padding: 0;
  width: 80%;
}

.add-product button a {
  color: var(--slightlyWhite);
}

.product-sec {
  width: 100%;
  height: fit-content;
  background: #f9f9f9;
}

.cta-store {
  padding: 1em 0;
}

.cta-store > h2 {
  padding-left: 1rem;
  font-size: var(--headingFontSizeMobile);
}

.body-wrapper {
  background-color: #ededed;
}

.category-section {
  padding: 1em 0 0 1em;
}
.products-wrap {
  display: flex;
  gap: 20px;
  height: fit-content;
  padding: 0 1em 3em;
  overflow-x: auto;
  margin-top: 2em;
}
.prd {
  margin: 0 auto;
  width: fit-content;
  display: block;
  gap: 3em;
  box-shadow: none;
}

.cta-link {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.more-pro {
  background-color: var(--primaryGreen);
  width: 135px;

}


.more-pro a {
  color: white;
}

.item1 {
  width: 345px;
  background-color: #fff;
  box-shadow: 1px 4px 4px 3px #cdcdcd;
}

.product-info {
  width: fit-content;
  padding: 3em 1em;
}

.product-info h2 {
  font-size: 1.5em;
}

.detail {
  scroll-snap-type: none;
  max-width: 80em;
  justify-content: center;
  padding: 1em;
  margin: 0;
}

.product-wrapper {
  background-color: #ededed;
}

.product {
  box-shadow: 1px 2px 2px 1px #aaa9a9;
  height: fit-content;
  background: var(--slightlyWhite);
  width: 230px;
  scroll-snap-align: start;
  padding: 0.8em 0.5em 0.5em 0.5em;
}

.product-img {
  width: 205px;
  height: 205px;
  object-fit: cover;
}

.product img {
  width: 205px;
  height: 205px;
  object-fit: cover;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.view-product {
  width: 100%;
  background: var(--primaryGreen);
  border: none;
  border-radius: 0;
}

.view-product a {
  color: white;
  text-decoration: none;
}



.delete-product button {
  width: 100%;
  background: black;
  border: none;
  border-radius: 0;
  color: white;
}
.checkout {
  padding: 1.5em;
}

.checkout-order {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 645px;
}

.checkout-order > div {
  width: 93%;
  margin: 1em auto;
  padding: 15px;
  background: #fff;
}

.checkout-img {
  width: 300px;
}

.product-description {
  margin: 0;
  text-align: left;
  margin-bottom: 4px;
}
/* 
.font {
  font-size: 17px;
} */

.impt {
  text-align: left;
  font-size: 16px;
}

.amount {
  font-size: 18px;
  color: #2e2e2e;
  text-align: left;
}

.quantity-label {
  font-size: 16px;
  color: #5e5e5e;
  margin: 0.5em 0;
}

.quantity {
  margin-top: 1em;
}

.quantity input {
  width: 20%;
  border: 1px solid;
}
.remove {
  padding: 0 1.5em;
}

.remove a img {
  width: 26px;
  height: 25px;
}

.subtotal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtot {
  width: 10%;
}

.add-to-cart {
  margin-top: 2em;
}
.cart-wrap {
  border-top: 1px solid #bfbfbf;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.8em 0 0;
}

.cart-props {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 1.2;
  padding: 2em 0;
}

.cartItem {
  display: block;
  width: 95%;
  background-color: white;
  border: 1px solid #cbcbcb;
  padding: 0;
  margin-bottom: 15px;
}

.cart-img {
  width: 45%;
  height: 200px;
  object-fit: contain;
}

.cart-name {
  text-align: left;
  margin: 0 0 5px;
  width: 180px;
  font-size: 16px;
}

.input-wrap {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.quantity-input {
  border: none;
  padding: 0 0 0 5px;
  width: 30px;
  text-align: center;
}

.quantity-control {
  font-size: 16px;
  padding: 0 6px;
  background-color: #f0f0f0;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border-radius: 0;
  border: none;
  margin: 0 0 0 5px;
}

.cart-cont {
  background-color: #ededed;
}

.empty-cart {
  padding: 16.8em 0;
}

.empty-cart h2 {
  width: 100%;
  height: 30px;
  color: var(--primaryBlack);
  margin-bottom: 1em;
}
.empty-cart button {
  width: 190px;
  height: 50px;
  background-color: var(--primaryGreen);
}

.empty-cart button a {
  color: #fff;
  font-size: 15px;
}

.available-cart {
  min-height: 495px;
}

.cart-price {
  margin: 5px 0 0;
  font-weight: bolder;
  font-size: 20px;
}

.checkout-wrap {
  width: 95%;
  background-color: white;
  border: 1px solid #cbcbcb;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px 0;
}

.summary-title {
  color: var(--primaryBlack);
  text-align: center;
  width: 100%;
}

.cart-summ-wrap {
  width: 87%;
  margin: 0 0 0.8em;
}

.item-props {
  display: flex;
  justify-content: space-between;
  height: 25px;
}

p.item {
  margin: 4px;
  text-align: left;
}

.total-cont {
  width: 80%;
  height: fit-content;
  font-weight: bold;
  font-size: 17px;
}

.total-price {
  height: fit-content;
  font-weight: bold;
  font-size: 17px;
  color: var(--primaryGreen);
}

.checkout-link a {
  text-decoration: none;
  color: var(--primaryGreen);
}

.delete-control {
  background-image: url("../images/delete.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 2em 0;
}

.del-title {
  font-size: 14px;
}

.delivery-title {
  font-size: 14px;
  color: #252525;
  margin: 0 0 8px;
}

.add-form {
  display: none;
  padding: 0;
  width: 100%;
  border: none;
  box-shadow: none;
}

.add-form label {
  font-size: 14px;
  color: #3d3d3d;
}

.add-form input {
  border: none;
  outline: none;
  border-bottom: 1px solid #c3c3c3;
  border-radius: 0;
  margin: 0 0 5px;
  padding: 8px 2px;
  font-size: 14px;
  color: #999999;
}

.add-form button {
  color: #fff;
  width: 94%;
  background-color: var(--primaryGreen);
  margin: 1em;
}

.accordion-controls {
  display: flex;
  justify-content: space-between;
}

.accordion-header {
  color: var(--primaryGreen);
}

.accordion-icon {
  color: var(--primaryGreen);
  font-size: 17px;
  font-weight: bolder;
}

.accordion-content {
  margin: 1.3em 0 0;
  transition: 0.3s ease-in-out;
  padding: 0.5em;
}

.payment-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.payment-option {
  width: 95%;
  height: 50px;
  position: relative;
  display: flex;
  margin: 0.5em 0;
  background-color: #f3f3f3;
  align-items: center;
  padding: 0 5px;
  justify-content: space-between;
}
.payment-option input {
  position: absolute;
  top: 1.2em;
  right: 1em;
  width: fit-content;
  height: fit-content;
  padding: 2px 0;
}

.payment-option label {
  padding: 2px 0;
  color: #2b2b2b;
}

.payfast-img {
  background-image: url("../images/Payfast.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 45px;
}

.delivery-info p {
  margin: 0 0 0.5em;
  font-size: 14px;
  text-align: left;
  color: #4d4d4d;
}
.summary-props {
  display: flex;
  justify-content: space-between;
}

.items {
  text-align: left;
}

.total-summary {
  display: flex;
  justify-content: space-between;
}

.total-summary p {
  font-size: 14px;
  font-weight: bold;
  color: #4e4e4e;
}

.payfast-form {
  width: 100%;
  box-shadow: none;
  padding: 0;
}

.paynow-button {
  background-color: var(--primaryGreen);
  color: white;
}

.quan {
  width: 10%;
}

.del-accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 0 0;
}

.accordion-btn {
  color: var(--primaryGreen);
  cursor: pointer;
  padding: 15px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-panel {
  display: none;
  padding: 10px;
  background-color: #f1f1f1;
  border-left: 1px solid #ddd;
}

.active {
  background-color: #45a049;
}

.a-link {
  display: flex;
  margin: 0 auto;
  text-align: center;
  color: #000000;
}

.wou {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.wou-img {
  display: none;
}

.wou-info {
  width: 100%;
  padding: 1em 1.5em;
  display: grid;
  grid-template-areas:
    "header header header"
    "symbol content content"
    "symbol content content"
    "symbol content content";
}

.wou-info h1 {
  grid-area: header;
  text-align: center;
}

.symbols {
  grid-area: symbol;
  height: 190px;
  width: 22px;
  display: grid;
}

.symbols div {
  width: 22px;
  height: 30px;
  padding: 4px;
  border-radius: 6px;
  text-align: center;
  font-size: 15px;
  background: lime;
}

.cont {
  grid-area: content;
  display: grid;
}
.cont h3 {
  color: black;
  text-transform: capitalize;
  font-size: 16px;
}

.last-cta {
  padding: 1.5em;
  background: #2e2e2e;
  text-align: center;
  min-height: 12em;
}

.last-cta input {
  margin-bottom: 1em;
  border: none;
  outline: none;
  border-radius: 20px;
}

.last-cta button {
  width: 140px;
  color: var(--slightlyWhite);
  background: var(--primaryGreen);
}

.footer {
  background: #2a2a2a;
  padding: 0.5em;
  position: relative;
  bottom: 0;
}

.accordion {
  padding: 0 0.5em;
}

.accordion-item-header {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.accordion-item-body > a {
  font-size: 14px;
  color: #a4a4a4;
  font-weight: 200;
}

.accordion-item-body {
  padding: 0.3em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0;
  transition: 0.5s;
}

.active .accordion-item-body {
  height: auto;
  opacity: 1;
}

/* Services page styles*/

.services-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #ededed;
}

.hero-services {
  width: 100%;
  height: 220px;
  text-transform: capitalize;
}

.section {
  padding: 4.6em 2em;
  height: 100%;
}

.serv {
  margin: 0;
}

.sub-text {
  margin: 0;
  color: var(--primaryBlack);
  font-size: var(--standardFontSizeMobile);
  text-transform: none;
  line-height: 1.7;
  text-align: left;
}

.small-ani {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 5px;
  border-radius: 22px;
  background: var(--primaryGreen);
}

.info-section {
  line-height: 1.5;
}

.info-cover {
  width: 90%;
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
}

.serv-title {
  margin: 0;
}

.long-ani {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 5px;
  margin: 2px 0 0;
  border-radius: 22px;
  background: var(--primaryGreen);
}

.overview-text {
  padding: 1.2em 0;
  font-size: var(--standardFontSizeMobile);
  color: #545454;
  text-align: left;
}

.info-cover button {
  margin: 0 7em;
}

/* about styles */

.about-section {
  background: #eeeeee;
  padding: 0 0.4em 1em;
}

.abt-hero h2 {
  text-align: center;
  padding: 0.6em;
}

.abt-hero > p {
  padding: 0 1em 1em;
  font-size: 15px;
  color: #4e4e4e;
}

.abt-info > h2 {
  padding: 0.2em;
  font-size: 17px;
  margin: 0;
}

.abt-info > h3 {
  padding: 0 0.5em;
  font-size: var(--standardFontSizeMobile);
  color: var(--primaryOrange);
}

.abt-info > p {
  padding: 0 1em 1em;
  font-size: 15px;
  color: #4e4e4e;
  text-align: left;
}

.team-section {
  padding: 1em 0 2em;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 2em;
}

.team-section h1 {
  text-align: center;
  width: 100%;
}

.member {
  height: 250px;
  margin: 2em 0 0;
}

.member-name {
  width: 100%;
  text-align: center;
}

.member-pic1 {
  height: 220px;
  width: 220px;
  background: url(https://i.postimg.cc/VN0pypsv/IMG-20221107-WA0005.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 1em;
  border-radius: 132px;
}

.member-pic2 {
  height: 220px;
  width: 220px;
  background: url(https://i.postimg.cc/LsytT8FZ/IMG-20221107-WA0004.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 1em;
  border-radius: 132px;
}

/* form styles */

.body-form {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.form-cover {
  background-color: #eeeeee;
  padding: 2em 0;
}

form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
}

.adjust {
  height: 660px;
}
form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 10px;
  color: var(--primaryGreen);
}
form h5 {
  font-size: 16px;
}

form li {
  font-size: 13px;
  color: var(--primaryGrey);
}

form p a {
  color: var(--primaryGreen);
}

input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}

textarea {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  margin-top: 1em;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 20px 0 10px;
}

.form-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 45%;
}

.success-message {
  margin: 0 0 1em;
  color: var(--primaryGreen);
}

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

a.prId {
  display: flex;
}

.item1 a img {
  max-width: 18em;
  margin: 1.7em 1.7em 0;
  object-fit: cover;
}

.success-wrap {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.success-wrap p {
  color: var(--primaryGreen);
  font-size: 20px;
  font-weight: bolder;
}

@media (min-width: 500px) {
  .product-wrapper {
    height: 83vh;
    padding: 3em 0;
  }
}

@media (min-width: 37em) {
  .menu-icon {
    display: none;
  }

  .logo-wrap {
    justify-content: left;
    margin-left: 1em;
  }

  .nav-closed {
    overflow: visible;
    left: 5em;
    opacity: 1;
  }

  .ul-links {
    flex-direction: initial;
    padding: 0;
    gap: 0.8em;
    height: 2.8em;
    align-items: center;
  }

  .ul-links a {
    font-size: 14px;
  }

  .close-btn-container {
    display: none;
  }

  .user-login {
    width: 35px;
    display: block;
    margin-right: 0.3em;
  }

  .user-login a img {
    width: 30px;
    height: 30px;
    margin: 8px 0;
  }

  .hero-wrap {
    min-height: 21em;
    justify-content: left;
  }

  .sub-sec {
    max-width: 28em;
    margin-left: 2em;
  }

  .brief-wwo {
    gap: 2em;
  }

  .about-sec {
    display: flex;
  }

  .about-img {
    display: block;
  }

  .about-subsec1 {
    width: 47%;
    justify-content: left;
    margin-left: 1em;
  }

  .cart-img {
    width: 45%;
  }
  .about-subsec1 p {
    text-align: left;
    font-size: clamp(0.2em, 0.5rem + 7vw, 0.9em);
  }

  .about-subsec2 {
    width: 50%;
  }

  .about-subsec2 img {
    width: 21em;
  }

  .wou-img {
    display: block;
    width: 50%;
    text-align: center;
  }

  .wou-img img {
    width: 21em;
    padding-top: 1em;
  }

  .wou-info {
    width: 50%;
  }

  .last-cta {
    padding: 4em 1.5em;
    min-height: 16em;
  }

  .footer {
    display: flex;
  }

  .accordion {
    width: 23%;
    margin: 1em 1em;
  }

  .accordion-item-body {
    opacity: 1;
    overflow: unset;
    height: 7em;
  }
  .item1 {
    width: fit-content;
    display: flex;
    gap: 3em;
    box-shadow: 1px 4px 4px 3px #cdcdcd;
    border-radius: 20px;
  }

  .product-wrapper {
    height: 75vh;
  }

  .cartItem {
    display: flex;
    padding-bottom: 1.5em;
  }
  .remove {
    width: 8em;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .a-link {
    display: flex;
    align-items: center;
    padding-left: 2em;
    color: #000000;
    margin: 1em 0 0;
    width: 100%;
  }

  .cart-props {
    padding: 2em 0;
    display: flex;
    width: 50%;
  }

  .quantity-input {
    padding: 0 0;
    margin: 0 0 0 15px;
  }

  .input-wrap {
    width: fit-content;
    font-size: 16px;
    margin: 10px 0;
  }

  .quantity-control {
    font-size: 16px;
    width: 16px;
    padding: 0;
  }
  .cart-name {
    font-size: 1.3em;
    max-width: 7em;
  }

  .cart-price {
    margin: 0;
    font-weight: 100;
  }
  .checkout {
    display: flex;
    justify-content: end;
    padding: 2em;
    align-items: center;
  }
}

@media (min-width: 745px) {
  .summary-title {
    width: 100%;
    text-align: center;
    margin: 0 0 1.5em;
  }

  button.checkout-link {
    margin: 1em 0;
  }
}

@media (min-width: 815px) {
  span.total-cont {
    width: 81%;
  }
}

@media (min-width: 855px) {
  span.total-cont {
    width: 85%;
  }

  .checkout-order {
    min-height: 665px;
  }

}

@media (min-width: 1000px) {
  .cart-wrap {
    flex-wrap: nowrap;
    height: 660px;
    padding: 0 1.5em 0 0.5em;
    align-items: center;
  }
  .cart-summ-wrap {
    margin: 0 0 1em;
  }

  span.total-cont {
    width: 72%;
  }
  .checkout-wrap {
    width: 40%;
  }

  .checkout-link {
    margin: 2em 0;
  }

  .available-cart {
    display: flex;
    align-items: center;
}




}

@media (min-width: 63em) {
  .about-subsec2 img {
    width: 27em;
  }
}
